div{
    width: 480px;
  border: 1px solid rgb(43, 43, 49);

}

.a1{
  height: 75px;
}

.b2{
  height: 150px;
}

.c3, .d4{
  height: 125px;
  
  

}

.e5, .f6, .g7, .h8 { 
  height: 250px;
  width: 50%;
}

.i9{
  height: 80px;
}

@media(min-width: 768px) {
  div {
      background-color: rgb(20, 170, 207)
  }
  .a1 {
      height: 100px;
      grid-column: 1/ 6;
      width: 100%;
  }
  .b2 {
      height: 600px;
      grid-column: 1/ 2;
  }
  .c3 {
      height: 200px;
      grid-column: 2 / 4;
  }
  .d4 {
      height: 200px;
      width: 100%;
      grid-column: 4 / 6;  
  }
  .e5 {
      height: 250px;
      width: 100%;
      grid-column-start: 2;
  }
  .f6 {
      height: 250px;
      width: 100%;
      grid-column: 3 / 4;
  }
  .g7 {
      height: 250px;
      width: 100%;
      grid-column: 4 / 5;
  }
  .h8 {
      height: 250px;
      width: 100%;
      grid-column: 5 / 6;
  }
  .i9 {
      height: 150px;
      width: 100%;
      grid-column: 2 / 6;
  }
}



