pre {
    text-align: center;
}
.a pre {
    padding: 33px 0;
}
.b pre {
    padding: 70px 0;
}
.c pre, .d pre {
    padding: 55px 0;
}
.e pre, .f pre, .g pre, .h pre {
    padding: 120px 0;
}
.i pre {
    padding: 30px 0;
}

